body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333333;
  line-height: 1.6;
  background-color: #f8f9fa;
}

header {
  padding: 60px 20px;
  text-align: center;
  background: #f2f4f8;
}

header h1 {
  color: #00274C;
  font-size: 48px;
  margin-bottom: 10px;
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #0057b8;
  font-weight: bold;
}

section {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

.project {
  border: 1px solid #ddd;
  
  background: white;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;

  box-shadow:
      0 2px 8px rgba(0,0,0,0.08);
}

.project h3 {
  margin-top: 0;
}

.project h3 a {
    color: #00274C;
    text-decoration: none;
}

.project h3 a:hover {
    color: #FFCB05;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 30px;
}
